@import "functions";
@import "mixins";

.root-grid {
  display: grid;
  margin-bottom: var(--marginBase);
  grid-template: "i i i" 600px "m m m" auto "c c c" auto / 1fr 1fr 1fr;

  article {
    background: white;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    padding: 1rem 2rem;

    p {
      line-height: 2;
      text-align: justify;
      text-justify: kashida;
    }
  }

  @media (prefers-color-scheme: light) {
    article {
      background: white;
    }
  }
  @media (prefers-color-scheme: dark) {
    article {
      background: rgb(20, 20, 20);
      color: white;
      box-shadow: glow(large);
    }
  }
}

.children-area {
  grid-area: c;
  > *:first-child{
    margin-top:0;
  }
}

.imagelist-area {
  grid-area: m;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  padding: 10px 0 10px 0;
  flex-direction: row;
  overflow-y: auto;

  > * {
    margin: 0 6px 0 0;
    opacity: 0.5;
    width: 100px;
    transition: opacity 0.3s ease;
    cursor: pointer;
  }

  > *:hover,
  .selected {
    opacity: 1;
  }
}

.main-area {
  grid-area: i;
  position: relative;
  touch-action: pan-y pinch-zoom;

  .back,
  .next {
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.4s ease;
    position: absolute;
    width: 80px;
    top: 50%;
    transform: translateY(-50%);
  }

  .back {
    left: 0;

    path {
      fill: white;
    }
  }

  .next {
    right: 0;

    path {
      fill: white;
    }
  }
}

.main-area:hover {
  .back,
  .next {
    opacity: 1;
  }
}

@include size(portrai-tablet) {
  .root-grid {
    grid-template: "i i m" 300px "i i m" 300px "c c c" auto / 1fr 1fr 150px;
  }

  .imagelist-area {
    padding: 0 0 0 10px;
    flex-direction: column;

    > * {
      width: auto;
      margin: 0 0 6px 0;
    }
  }
}
